.animation-inner {
    display: flex;
    justify-content: space-between;
}

.animation-item {
    max-width: 560px;
}

.animation-item__title {
    font-family: "gilroy-bold", sans-serif;
    font-size: 40px;
}

.animation-item__text {
    font-family: "gilroy-regular", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.animation-box {
    position: relative;
    width: 560px;
    height: 267px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: absolute;
    width: 79px;
    height: 79px;
    background: #FFC700;
    border-radius: 50%;
}