
.comment-section {
    padding-top: 50px;
}

.comment-section__inner {
    display: flex;
    justify-content: center;
    column-gap: 36px;
}

.comment-section__inner-form {
    width: 423px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    height: 229px;
}

.comment-name {
    width: 100%;
    font-size: 20px;
    margin-bottom: 12px;
}

.comment-body, .comment-name {
    font-family: "gilroy-regular", sans-serif;
    border: none;
    outline: none;
}

.comment-body {
    display: block;
    height: 97px;
    width: 100%;
    font-size: 16px;
    resize: none;
}

.comment-button {
    background-color: #FFC700;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
    font-family: "gilroy-regular", sans-serif;
    margin-top: 12px;
    transition: background-color 0.3s ease;
}

.comment-button:hover {
    background-color: #d9ac08;
}

.comment-item {
    width: 423px;
    max-width: 100%;
}

.comment-item__title {
    font-family: "gilroy", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
}

.comment-inner__time {
    font-size: 10px;
    text-align: end;
}

.comment-inner__title {
    font-family: "gilroy-regular", sans-serif;
    font-size: 25px;
    margin: 10px 0;
    word-break: break-all;
    background-color: #FFC700;
    padding: 10px 10px 10px 20px;
    border-radius: 20px
}

.comment-inner__body {
    font-family: "gilroy-regular", sans-serif;
    font-weight: normal;
    margin-bottom: 13px;
    font-size: 20px;
    display: block;
    height: auto;
    max-width: 100%;
    word-break: break-all;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #9db6d0;
}