/*gilroy*/
@font-face {
    font-family: "gilroy-black";
    src: url("./../fonts/gilroy-black.woff") format("woff"), url("./../fonts/gilroy-black.woff2") format("woff2");
}
@font-face {
    font-family: "gilroy-bold";
    src: url("./../fonts/gilroy-bold.woff") format("woff"), url("./../fonts/gilroy-bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: "gilroy-regular";
    src: url("./../fonts/gilroy-regular.woff") format("woff"), url("./../fonts/gilroy-regular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "gilroy-regular";
    src: url("./../fonts/gilroy-regular.woff") format("woff"), url("./../fonts/gilroy-regular.woff2") format("woff2");
    font-weight: bold;
}

/*Montserrat*/
@font-face {
    font-family: "Montserrat-bold";
    src: url("./../fonts/Montserrat-Bold.woff") format("woff"), url("./../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: bold;
}