.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    font-family: "Montserrat-bold", sans-serif;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

img {
    object-fit: cover;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/*Контейнер контента*/
.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}

/*Стили header*/
.header {
    padding-bottom: 100px;
    grid-row: 1/2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu__list {
    display: flex;
}

.menu .menu__list-item:not(:nth-child(1)) {
    margin-left: 44.5px;
}

.menu .menu__list-item-link {
    font-size: 20px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    cursor: pointer;
    color: black;
}

.menu .menu__list-item-link:hover {
    color: #FFC700;
}

.menu .active {
    border-bottom: 6px #FFC700 solid;
}

/*footer*/
.footer {
    padding-top: 50px;
    margin-top: auto;
}

.footer-inner {
    background-color: #252525;
    padding: 20px 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    display: flex;
}

.footer-social__link svg {
    transition: all 0.2s ease;
}

.footer-social__link-telegram:hover {
    fill: #4270d0;
    transform: scale(1.2);
}

.footer-social__link-vk:hover {
    fill: #0b2f7a;
    transform: scale(1.2);
}

.footer-social__link-youtube:hover {
    fill: #bd1212;
    transform: scale(1.2);
}

.footer-social__link:not(:last-child) {
    margin-right: 22.5px;
}

.copyright {
    font-family: "gilroy-regular", sans-serif;
    font-size: 18px;
    color: #ffff;
}