
.resume-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.resume-avatar {
    width: 367px;
    max-width: 100%;
}

.resume-avatar img {
    width: 100%;
    max-height: 344px;
}

.resume-item {
    max-width: 750px;
}

.resume-item__title {
    font-size: 40px;
    font-family: "gilroy-bold", sans-serif;
}

.resume-item__title span {
    color: #FFC700;
}

.resume-item__text {
    font-family: "gilroy-regular", sans-serif;
    font-size: 24px;
}

.resume-item__text:not(:last-child) {
    margin: 21px 0;
}

.resume-item__text-link {
    font-family: "gilroy-bold", sans-serif;
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
}

.resume-item__text-link:hover {
    color: #FFC700;
    border-bottom: 2px solid #FFC700;
}