/*slider-section*/
.slider-section{

}
.slide {
    display: none;
}

.slider-wrapper {
    max-width: 946px;
    margin: 0 auto;
    position: relative;
}

.slider {
    position: relative;
    width: 946px;
    max-width: 100%;
    margin-bottom: 20px;
    display: none;
}
.slider.active {
    display: block;
}

.slider img {
    width: 100%;
    max-height: 500px;
    vertical-align: bottom;
}

.cursor {
    cursor: pointer;
}

.demo-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.demo-img__inner {
    width: 173px;
    max-width: 100%;
    cursor: pointer;
}

.demo-img__inner img {
    width: 100%;
    max-height: 140px;
}

.slider__number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.demo {
    opacity: 0.6;
    transition: all 0.2s ease;
}

.demo.active {
    opacity: 1;
}

.active,
.demo:hover {
    opacity: 1;
}
.slider-buttons {

}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    color: aqua;
    width: 20px;
    height: 25px;
}

.prev {
    background-image: url("./../img/arrow-left.svg");
    background-repeat: no-repeat;
    right: 90%;
    margin-right: 180px;
    top: 40%;
}

.next {
    background-image: url("./../img/arrow-right.svg");
    background-repeat: no-repeat;
    left: 90%;
    margin-left: 180px;
    top: 40%;
}

.caption-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: start;
    color: white;

}

.caption-container__title {
    font-family: "gilroy-regular", sans-serif;
    letter-spacing: 2px;
    padding: 0 15px;
}

.caption-container__text {
    padding: 15px;
    background: rgba(37, 37, 37, 0.5);
}
